.header{
  background-color: cornflowerblue;
  height: 7vh;
  display: flex;
  align-items: center;

}
.headertext{
  margin:0;
  color:white;
  cursor: pointer;
}
.reg{
  text-align: right;
  margin-left: auto;
  color:white;
  margin-right: 10px;
  cursor: pointer;
}
